:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --primary-bcg: #FFFFFF;
    --secondary-bcg: #F5F4FA;
    --accent-bcg: #2F303A;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bcg);
    font-family: Roboto, sans-serif;
    font-style: normal;
}